In [83]:
import numpy as np
import pandas as pd
from pandas.core.dtypes.generic import (
    ABCSeries,
)
from pandas import DataFrame



1.   Importation des données

In [84]:
data = pd.read_table('sample_data/market_basket.txt', delimiter="\t",header=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12935 entries, 0 to 12934
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       12935 non-null  int64
 1   Product  12935 non-null  object
dtypes: int64(1), object(1)
memory usage: 202.2+ KB

2.   Affiche des 10 premières lignes du DataFrame

In [85]:
print(data.head(10))

   ID                   Product
0   1                   Peaches
1   2             Vegetable_Oil
2   2               Frozen_Corn
3   3                     Plums
4   4               Pancake_Mix
5   5                    Cheese
6   6               Cauliflower
7   7                 2pct_Milk
8   8  98pct_Fat_Free_Hamburger
9   8              Potato_Chips

3. Affiche les dimensions du dataframe

In [86]:
print(data.shape)

(12935, 2)

4. Script python qui permet de Construire un table binaire

In [ ]:
def get_names(arrs, names, prefix):
    
    names = []
    for i, arr in enumerate(arrs):
          if isinstance(arr, ABCSeries) and arr.name is not None:
               names.append(arr.name)
          else:
               names.append(f"{prefix}_{i}")
    return names
   

def BinTab (data) -> pd.DataFrame:
  values=None,
  rownames=None,
  colnames=None,
  
  index = [data.ID]
  columns = [data.Product]
  rownames = get_names(index,rownames,prefix="ID")
  colnames = get_names(columns,colnames,prefix="Product")
  tab = _mapper(rownames, colnames)
#To complete

BinTab(data)

5. pandas.crosstab

In [87]:
TC= pd.crosstab(data.ID,data.Product)
#print(TC)

6. Les 30 premières transactions et les 3 premiers produits

In [88]:
print(TC.iloc[:30,:3])

Product  100_Watt_Lightbulb  2pct_Milk  40_Watt_Lightbulb
ID
1                         0          0                  0
2                         0          0                  0
3                         0          0                  0
4                         0          0                  0
5                         0          0                  0
6                         0          0                  0
7                         0          1                  0
8                         0          0                  0
9                         0          0                  0
10                        0          0                  0
11                        0          0                  0
12                        0          0                  0
13                        0          0                  0
14                        0          0                  0
15                        0          0                  0
16                        0          0                  0
17                        0          0                  0
18                        0          0                  0
19                        0          0                  0
20                        0          0                  0
21                        0          0                  0
22                        0          0                  0
23                        0          0                  0
24                        0          0                  0
25                        0          1                  0
26                        1          0                  0
27                        0          0                  0
28                        0          1                  0
29                        0          1                  0
30                        0          0                  0

7. Script python de la fonction a_priori()

In [89]:
from mlxtend.frequent_patterns import apriori

In [90]:
freq_itemsets = apriori(TC,min_support=0.025,max_len=4,use_colnames=True)
print(freq_itemsets)

      support                                           itemsets
0    0.030147                               (100_Watt_Lightbulb)
1    0.109559                                        (2pct_Milk)
2    0.037500                                (60_Watt_Lightbulb)
3    0.031618                                (75_Watt_Lightbulb)
4    0.093382                         (98pct_Fat_Free_Hamburger)
..        ...                                                ...
598  0.025735                (Toothpaste, White_Bread, Tomatoes)
599  0.026471             (Toothpaste, White_Bread, Wheat_Bread)
600  0.026471       (2pct_Milk, Potato_Chips, White_Bread, Eggs)
601  0.025735         (Toothpaste, 2pct_Milk, White_Bread, Eggs)
602  0.025000  (Toothpaste, White_Bread, Potato_Chips, 2pct_M...

[603 rows x 2 columns]

8.  Les 15 premiers itemsets

In [91]:
print(freq_itemsets.head(15))

     support                    itemsets
0   0.030147        (100_Watt_Lightbulb)
1   0.109559                 (2pct_Milk)
2   0.037500         (60_Watt_Lightbulb)
3   0.031618         (75_Watt_Lightbulb)
4   0.093382  (98pct_Fat_Free_Hamburger)
5   0.031618         (AA_Cell_Batteries)
6   0.025735    (Apple_Cinnamon_Waffles)
7   0.026471               (Apple_Drink)
8   0.031618          (Apple_Fruit_Roll)
9   0.032353                 (Apple_Jam)
10  0.033088               (Apple_Jelly)
11  0.032353               (Apple_Sauce)
12  0.053676                    (Apples)
13  0.066912                   (Aspirin)
14  0.027941               (Avocado_Dip)

9. Vérification si un sous-ensemble
items est inclus dans l’ensemble x

In [92]:
def is_inclus(x,items):
  return items.issubset(x)

10. Affiche des itemsets comprenant le produit ‘Aspirin’

In [93]:
id = np.where(freq_itemsets.itemsets.apply(is_inclus,items={'Aspirin'}))
print(id)

(array([ 13, 208, 249, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281,
       282, 283, 284, 285, 286, 509, 510, 511, 552, 553, 554, 555, 556]),)

11. Afficher les itemsets contenant Aspirin et Eggs

In [94]:
print(freq_itemsets[freq_itemsets['itemsets'].ge({'Aspirin','Eggs'})])

      support                       itemsets
274  0.038235                (Aspirin, Eggs)
509  0.025735     (Eggs, Aspirin, 2pct_Milk)
552  0.025000  (Potato_Chips, Aspirin, Eggs)
553  0.029412   (White_Bread, Aspirin, Eggs)

12. Règles des association

In [95]:
from mlxtend.frequent_patterns import association_rules

In [96]:
regles = association_rules(freq_itemsets,metric="confidence",min_threshold=0.75)

13. 5 premières règles

In [97]:
print(regles.iloc[:5,:])

                 antecedents    consequents  antecedent support  \
0       (Aspirin, 2pct_Milk)  (White_Bread)            0.034559
1     (Bananas, White_Bread)    (2pct_Milk)            0.032353
2       (Bananas, 2pct_Milk)  (White_Bread)            0.031618
3        (Cola, Wheat_Bread)    (2pct_Milk)            0.032353
4  (Popcorn_Salt, 2pct_Milk)         (Eggs)            0.033088

   consequent support   support  confidence      lift  leverage  conviction
0            0.119118  0.027206    0.787234  6.608878  0.023089    4.140147
1            0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
2            0.119118  0.025735    0.813953  6.833190  0.021969    4.734743
3            0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
4            0.122794  0.027206    0.822222  6.695941  0.023143    4.934283

14. LIFT supérieur ou égal à 7

In [81]:
print(regles[regles['lift'].ge(7.0)])

                                antecedents                 consequents  \
1                    (Bananas, White_Bread)                 (2pct_Milk)
3                       (Cola, Wheat_Bread)                 (2pct_Milk)
8                     (Onions, Wheat_Bread)                 (2pct_Milk)
10                  (Potatoes, Wheat_Bread)                 (2pct_Milk)
13                (Toothpaste, Wheat_Bread)                 (2pct_Milk)
16            (White_Bread, Hamburger_Buns)  (98pct_Fat_Free_Hamburger)
17  (98pct_Fat_Free_Hamburger, Wheat_Bread)               (White_Bread)
29             (Sweet_Relish, Hot_Dog_Buns)                  (Hot_Dogs)
35                 (Potatoes, Toilet_Paper)               (White_Bread)
37               (Toothpaste, Toilet_Paper)               (White_Bread)
42        (White_Bread, Potato_Chips, Eggs)                 (2pct_Milk)
45          (Toothpaste, White_Bread, Eggs)                 (2pct_Milk)
46  (Toothpaste, White_Bread, Potato_Chips)                 (2pct_Milk)
47     (Toothpaste, White_Bread, 2pct_Milk)              (Potato_Chips)
48    (Toothpaste, Potato_Chips, 2pct_Milk)               (White_Bread)
49   (White_Bread, Potato_Chips, 2pct_Milk)                (Toothpaste)

    antecedent support  consequent support   support  confidence      lift  \
1             0.032353            0.109559  0.025735    0.795455  7.260525
3             0.032353            0.109559  0.025735    0.795455  7.260525
8             0.034559            0.109559  0.028676    0.829787  7.573897
10            0.032353            0.109559  0.025000    0.772727  7.053081
13            0.034559            0.109559  0.027941    0.808511  7.379694
16            0.034559            0.093382  0.026471    0.765957  8.202379
17            0.029412            0.119118  0.026471    0.900000  7.555556
29            0.036029            0.092647  0.030147    0.836735  9.031422
35            0.028676            0.119118  0.025000    0.871795  7.318772
37            0.029412            0.119118  0.025735    0.875000  7.345679
42            0.033824            0.109559  0.026471    0.782609  7.143274
45            0.032353            0.109559  0.025735    0.795455  7.260525
46            0.030147            0.109559  0.025000    0.829268  7.569160
47            0.033088            0.097794  0.025000    0.755556  7.725982
48            0.028676            0.119118  0.025000    0.871795  7.318772
49            0.033088            0.079412  0.025000    0.755556  9.514403

    leverage  conviction
1   0.022191    4.353268
3   0.022191    4.353268
8   0.024890    5.231342
10  0.021455    3.917941
13  0.024155    4.650082
16  0.023243    3.873730
17  0.022967    8.808824
29  0.026809    5.557537
35  0.021584    6.870882
37  0.022232    7.047059
42  0.022765    4.096029
45  0.022191    4.353268
46  0.021697    5.215441
47  0.021764    3.690842
48  0.021584    6.870882
49  0.022372    3.766043

15. Filtre des règles qu' affiche celles menant au conséquent {‘2pct_milk’}

In [82]:
print(regles[regles['consequents'].eq({'2pct_Milk'})])

                                antecedents  consequents  antecedent support  \
1                    (Bananas, White_Bread)  (2pct_Milk)            0.032353
3                       (Cola, Wheat_Bread)  (2pct_Milk)            0.032353
7                       (Eggs, Wheat_Bread)  (2pct_Milk)            0.040441
8                     (Onions, Wheat_Bread)  (2pct_Milk)            0.034559
9                (Toothpaste, Potato_Chips)  (2pct_Milk)            0.037500
10                  (Potatoes, Wheat_Bread)  (2pct_Milk)            0.032353
13                (Toothpaste, Wheat_Bread)  (2pct_Milk)            0.034559
42        (White_Bread, Potato_Chips, Eggs)  (2pct_Milk)            0.033824
45          (Toothpaste, White_Bread, Eggs)  (2pct_Milk)            0.032353
46  (Toothpaste, White_Bread, Potato_Chips)  (2pct_Milk)            0.030147

    consequent support   support  confidence      lift  leverage  conviction
1             0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
3             0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
7             0.109559  0.030882    0.763636  6.970104  0.026452    3.767251
8             0.109559  0.028676    0.829787  7.573897  0.024890    5.231342
9             0.109559  0.028676    0.764706  6.979866  0.024568    3.784375
10            0.109559  0.025000    0.772727  7.053081  0.021455    3.917941
13            0.109559  0.027941    0.808511  7.379694  0.024155    4.650082
42            0.109559  0.026471    0.782609  7.143274  0.022765    4.096029
45            0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
46            0.109559  0.025000    0.829268  7.569160  0.021697    5.215441